*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.mae{
    background-color: rgb(228, 152, 54);
    display: flex;
    justify-content: end;

}

.filho{
    height: 100px;
    width: 100px;
}

.bc_azul{
background-color: aqua;
}

.bc_amarelo{
background-color: darkgoldenrod;
}

.bc_verde{
background-color: chartreuse;
}
